################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pronto/App_Data/NuGetBackup/20190512-233239/CopyLogs
